body {
    box-sizing: border-box;
    margin: 0;    padding: 0;
}

.buttons {
    float: right;
}

.buttons button {
    background-color: #fafafa;
}

.buttons button:hover {
    background-color: #f4eded;
}

.container {
    margin: 20px 0 20px 20%;
    width: 60%;
    height: auto;
    background-color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}

.container h2 {
    margin-bottom: 50px;
}

article p {
    columns: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
}

article p::first-letter {
    font-size: xx-large;
    padding-right: 2px;
}

.mdl-dialog {
  width: 280px;
  border: none;
  box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);}
  .mdl-dialog__title {
    margin: 0;
    padding: 24px 24px 0;

    font-size: 2.5rem; }
  .mdl-dialog__actions {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
            flex-direction: row-reverse;

    padding: 8px 8px 8px 24px;

    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .mdl-dialog__actions > * {
      height: 36px;
      margin-right: 8px;}
      .mdl-dialog__actions > *:first-child {
        margin-right: 0; }
    .mdl-dialog__actions--full-width {
      padding: 0 0 8px 0; }
      .mdl-dialog__actions--full-width > * {
        height: 48px;
        margin-right: 0;
        padding-right: 16px;

        text-align: right;

        -webkit-flex: 0 0 100%;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;}
  .mdl-dialog__content {
    padding: 20px 24px 24px 24px;

    color: rgba(0,0,0, 0.54);
}

dialog {
  position: absolute;  right: 0;
  left: 0;

  display: none;

  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  margin: auto;
  padding: 1em;

  color: black;
  border: solid;
  background: white;
}

dialog[open] {
  display: block;
}

dialog + .backdrop {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;

  background: rgba(0,0,0,0.1);
}

/* for small devices, modal dialogs go full-screen */
@media screen and (max-width: 540px) {
  dialog[_polyfill_modal] {  /* TODO: implement */
    top: 0;

    width: auto;
    margin: 1em;
  }
}

._dialog_overlay {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
}

ul{
    list-style-type: none;
}

div ul li a:link, a:visited {
    text-decoration: none;
    color: black;
}

#person {
    padding-top: 5px;
}

.divider {
    height: 1px;
    background-color: rgba(0,0,0,.1);
}

.mdl-layout__drawer {
    border: 0;
}

.mdl-layout__drawer ul {
    padding: 0;
}

.delete-group {
    float: right;
}

.mdl-mini-footer {
    position: absolute;
    padding-right: 0;
    bottom: 0;
    width: calc(100% - 16px);
}

.delete-group {
    margin-top: -2px;
}

.mdl-menu__container {
    width: 100%;
}

.mdl-menu {
    background-color: #424242;
    width: 100% !important;
}

.mdl-menu a {
    text-decoration: none;
    width: 100% !important;
}

.mdl-menu__item {
    color: white;
}

.mdl-menu__item:hover {
    background-color: rgba(0,0,0,0.1) ;
}

.mdl-logo {
    float: left;
    margin-bottom: 0;
    margin-right: 16px;
}

#setting {
    margin: 0;
}

.mdl-snackbar__action {
    margin-top: 3px;
}

.mdl-layout__content {
    background-color: rgb(241, 241, 241);
}

.page-content {
    position: relative;
    margin: auto;
    padding-bottom: 50px;
}

.collapsible-group {
    padding: 8px 0 8px 32px;
    cursor: pointer;
    font-weight: bold;
}

.list-click {
    padding: 8px 0px 8px 64px;
}

.list-click:hover {
    background-color: rgba(0,0,0,.1);
}

.material-icons.mdl-list__item-icon {
    margin-top: 5px;
}

.collapsible-group:hover {
    background-color: rgba(0,0,0,.1);
}

.collapsible>:nth-child(even) {
    display : none;
}

.demo-card-wide.mdl-card {
    width: 600px;
    margin: 20px 0 0 25%;
    height: auto;
}

.shared-with {
    padding-left: 40%;
}

.share {
    padding-left: 20%;
}

.shared-with h5 {
    margin-left: 10px;
}

.list-divider {
    width: 100%;    height: 1px;
    background-color: rgba(0,0,0,.1);
}

.mdl-card__supporting-text {
    padding: 0;
}

.demo-list-icon.mdl-list {
    margin: 0 0 0 0;    padding: 0px 0px 0px 30px;
}

.no-content {
    margin:20% 0 0 20%;
    color: rgba(0,0,0,.7)
}

.back-arrow {
    margin-right: 20px;
}

.check-button {
    margin-top: 10px;
    float: right;
}

.link--no-styling {
    text-decoration: none;
    color: white !important;
}

.share-list {
    display:none;
}

@media screen and (min-width: 1700px) {
    .demo-card-wide.mdl-card {
        margin: 20px 0 0 20%

    }
}

@media screen and (min-width: 1200px) {
    .demo-card-wide.mdl-card {
        margin: 20px 0 0 25%
    }
}

@media screen and (max-width: 1024px) {
    .demo-card-wide.mdl-card {
        margin: 20px 0 0 20%
    }
}

@media screen and (max-width: 769px) {
    .demo-card-wide.mdl-card {
        margin: 20px 0 0 11%
    }
}

@media screen and (max-width: 668px) {
    .demo-card-wide.mdl-card {
        margin: 20px 0 0 5%
    }
}

@media screen and (max-width: 426px) {
    #front-header {
        margin-left: -50px;
        margin-right: 15px;
    }

    .container {
        width: auto;
        margin: 0;
        border-radius: 0;
    }

    .page-content {
        padding:0;
    }

    .share {
        padding-left: 15%;
    }

    .share div {
        width: 65%;
    }

    .shared-with {
        padding: 0 0 0 33%;
    }

    article p {
        columns: 1;
        -webkit-column-count: 1;
        -moz-column-count: 1;
    }

    .demo-card-wide.mdl-card {
        margin: 0 0 0 0;
        width: 100%;
    }

    .mdl-layout-title {
        font-size: 170%;
    }

    .material-icons {
        font-size: 28px;
    }
}
